In [ ]:
# Task 1
x = 5
y = "Mohamed"
z = 9.4
a = True
b = [1, 2, 3]
c = (1, 2, 3)
d = {"M": 1}

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
# Task 2
number = 5

if number % 2 == 0 :
    print("The Number Is even")
else:
    print("The Number Is odd")

The Number Is odd

In [ ]:
# Task 3
i = 1
while(i <= 100):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# Task 4
def square(number):
    print(number * number)

number = int(input("Please Inter Your Number: "))
square(number)

25

In [ ]:
# Task 5
name = ("Mohamed", "Adel", "Omar", "Ramy", "Hany")
for i in name:
    print(i)

Mohamed
Adel
Omar
Ramy
Hany

In [ ]:
# Task 6
grades = [90, 79, 80, 83, 92, 75]

avarage = sum(grades) / len(grades)
print(f"Avarage of Grades = {avarage}")

Avarage of Grades = 83.16666666666667

In [ ]:
# Task 7
x = [2, 4, 6]
y = x # Aliasing

x.append(8)
print(x)
print(y)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [29]:
x = [2, 4, 6]
y = x.copy() #Cloning

x.append(8)
print(x)
print(y)

[2, 4, 6, 8]
[2, 4, 6]

In [34]:
# Task 8 
students={"Mohamed": 92,
          "Ahmed": 87,
          "Omar": 77,
          "Malek": 80}

TopStudent = max(students, key=students.get)
print(f"The Top Student Is: {TopStudent} --> {students[TopStudent]}")

The Top Student Is: Mohamed --> 92