In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"ulasan_com.spotify.music.csv")

In [3]:
df.head()

,Nama User,Ulasan,Rating,Tanggal,Likes,Versi App
0,Pengguna Google,suka banget sama ni app,5,2025-12-31 17:27:52,0,9.1.6.1145
1,Pengguna Google,bgus,5,2025-12-31 17:25:25,0,9.1.6.1145
2,Pengguna Google,ga bisa denger lagu JKT48 lagi gara² selalu di...,1,2025-12-31 16:39:10,0,9.1.6.1145
3,Pengguna Google,lagunya bagus banget buat ngapa ngapain,5,2025-12-31 16:35:54,0,9.1.6.1145
4,Pengguna Google,"kenapa sih, aku cuman bisa main 5 lagu doang? ...",1,2025-12-31 16:29:15,0,9.1.6.1145

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Nama User  100000 non-null  object
 1   Ulasan     100000 non-null  object
 2   Rating     100000 non-null  int64
 3   Tanggal    100000 non-null  object
 4   Likes      100000 non-null  int64
 5   Versi App  72298 non-null   object
dtypes: int64(2), object(4)
memory usage: 4.6+ MB

In [5]:
df.isna().sum()

Nama User        0
Ulasan           0
Rating           0
Tanggal          0
Likes            0
Versi App    27702
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Nama User  100000 non-null  object
 1   Ulasan     100000 non-null  object
 2   Rating     100000 non-null  int64
 3   Tanggal    100000 non-null  object
 4   Likes      100000 non-null  int64
 5   Versi App  72298 non-null   object
dtypes: int64(2), object(4)
memory usage: 4.6+ MB

In [9]:
df.columns

Index(['Nama User', 'Ulasan', 'Rating', 'Tanggal', 'Likes', 'Versi App'], dtype='object')

In [10]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.columns

Index(['nama_user', 'ulasan', 'rating', 'tanggal', 'likes', 'versi_app'], dtype='object')

In [11]:
df["rating"] = pd.to_numeric(df["rating"], errors="coerce")

In [12]:
df["tanggal"] = pd.to_datetime(df["tanggal"], errors="coerce")

In [13]:
df["likes"] = pd.to_numeric(df["likes"], errors="coerce")

In [14]:
df.isnull().sum()

nama_user        0
ulasan           0
rating           0
tanggal          0
likes            0
versi_app    27702
dtype: int64

In [15]:
df = df.drop(columns=["versi_app"])

In [16]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   nama_user  100000 non-null  object
 1   ulasan     100000 non-null  object
 2   rating     100000 non-null  int64
 3   tanggal    100000 non-null  datetime64[ns]
 4   likes      100000 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 3.8+ MB

              rating                        tanggal         likes
count  100000.000000                         100000  100000.00000
mean        4.072640  2025-03-05 15:10:59.499540224       2.70351
min         1.000000            2024-05-23 06:54:29       0.00000
25%         4.000000  2024-10-12 08:03:01.750000128       0.00000
50%         5.000000            2025-03-04 06:24:51       0.00000
75%         5.000000  2025-07-20 03:39:20.249999872       0.00000
max         5.000000            2025-12-31 17:27:52    8363.00000
std         1.518824                            NaN      67.86352

In [17]:
df.sort_values("likes", ascending=False).head()

,nama_user,ulasan,rating,tanggal,likes
72986,Pengguna Google,Belum puas lagi kah pasang iklannya (1 lagu 2 ...,1,2024-10-25 15:20:34,8363
69236,Pengguna Google,"Kenapa ya Spotify saya kok, suka gak ada suara...",5,2024-11-19 14:21:04,7861
73539,Pengguna Google,Pengalaman penggunaan aplikasi ini sangat baik...,5,2024-10-22 02:10:50,5809
19563,Pengguna Google,"Jujur, sebenarnya aplikasi Spotify itu bagus t...",5,2025-09-03 09:28:03,4969
69961,Pengguna Google,"kebanyakan iklan, lagu suka berhenti sendiri, ...",1,2024-11-14 17:02:05,4862

In [18]:
df["rating"].mean()

np.float64(4.07264)

In [19]:
df["rating"].value_counts()

rating
5    67371
1    16088
4     8299
3     4641
2     3601
Name: count, dtype: int64

In [20]:
df.head()

,nama_user,ulasan,rating,tanggal,likes
0,Pengguna Google,suka banget sama ni app,5,2025-12-31 17:27:52,0
1,Pengguna Google,bgus,5,2025-12-31 17:25:25,0
2,Pengguna Google,ga bisa denger lagu JKT48 lagi gara² selalu di...,1,2025-12-31 16:39:10,0
3,Pengguna Google,lagunya bagus banget buat ngapa ngapain,5,2025-12-31 16:35:54,0
4,Pengguna Google,"kenapa sih, aku cuman bisa main 5 lagu doang? ...",1,2025-12-31 16:29:15,0